body {
  background-color: black; 
  text-align: center; 
  font-size: 16px; 
}

span{
  color: white;
}

#lobby {
  margin-top: 25px; 
}

#game {
  margin-bottom: 50px; 
}

#game > .row > div{
  height: 75px; 
}


#display, .tile{
  background-color: green;   
  border: solid;
}

#display{
  border: none;
  font-size: 50px; 
  padding-top: 30px; 
}

.tile{
  font-size: 32px;
  color: white;
  border-color: black;
}

.tile:hover{
  cursor: pointer;
}